#jinja2: lstrip_blocks: True
#!/bin/bash

set -e
set -x

{{ item.pre_backup_hook|default('') }}

restic init \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }} || true # Make init idempotent.

restic unlock \
    -v \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }}

restic backup \
    -v --one-file-system \
    {% for pattern in item.exclude|default([]) %}
    --exclude '{{ pattern }}' \
    {% endfor %}
    --repo {{ item.repo }} \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    {{ item.directory }}

restic forget \
    -v \
    {% if item.retention_within is defined %}
    --keep-within={{ item.retention_within }} \
    {% endif %}
    {% if item.retention_hourly is defined %}
    --keep-hourly={{ item.retention_hourly }} \
    {% endif %}
    {% if item.retention_daily is defined %}
    --keep-daily={{ item.retention_daily }} \
    {% endif %}
    {% if item.retention_weekly is defined %}
    --keep-weekly={{ item.retention_weekly }} \
    {% endif %}
    {% if item.retention_monthly is defined %}
    --keep-monthly={{ item.retention_monthly }} \
    {% endif %}
    {% if item.retention_yearly is defined %}
    --keep-yearly={{ item.retention_yearly }} \
    {% endif %}
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }}

restic prune \
    -v \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }}

restic cache \
    -v \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }} \
    --cleanup

restic stats \
    -v \
    {% if item.password_command is defined %}
    --password-command {{ item.password_command }} \
    {% elif item.password_file is defined %}
    --password-file {{ item.password_file }} \
    {% endif %}
    --repo {{ item.repo }} \
    --mode raw-data

{{ item.post_backup_hook|default('') }}
